.blue { color: blue;  
    color: blue;       
      }       
       .bold {     
                    font-size:20px;       
                    font-weight: bold;
                   }
                   .oliv{
                       color: olive;
                   }