/* h1{
    text-align:center;
    letter:spacing 1px;
    text-decoration: ;
    text-transform: capitalize; 
}

p{  text-indent:30% ;
    text-align:justify;
    letter: spacing 1px; ;
} */
/* .heading{
    color:black;
    border: 1px solid black;
    height: 400px;
    width: 900px;
    text-align: center;
    line height:1px ; */
    
h1{
    background-color: green;
    width:50% ;
    text-transform: capitalize;
    text-align: center;
}.A{
    color:chartreuse ;
    width:50% ;
    text-align: justify;
}
.a{
    text-align: justify;
    width: 50%;
}
.b{
    width:50% ;
    color: red;
    text-align: justify;
}
.ab{
    word-spacing:279px ;
}